<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Пример верстки</title>
</head>
<body>
    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
      <strong>Ошибки:</strong>
      <ul>
        {% for field, errors in form.errors.items %}
        {% for error in errors %}
        <li>{{ field }}: {{ error }}</li>
        {% endfor %}
        {% endfor %}
      </ul>
    </div>
    {% endif %}
        <h3>Авторизация</h3>
        <form method="POST">
            {% csrf_token %}
            <div class="input-group">
                <label for="username">Имя пользователя</label>
                {{ form.username }}
                {{ form.username.errors }}
            </div>
            <div class="input-group">
                <label for="password">Пароль</label>
                {{ form.password }}
                {{ form.password.errors }}
            </div>
            <button type="submit">Войти</button>
        </form>
</body>
</html>
